/* Hero */
.hero {
  overflow: visible; }

.hero-text {
  margin-top: 150px; }

.hero header {
  margin-bottom: 0px; }

.hero-content .container {
  margin-bottom: 11vw;
  position: relative; }

.heart-string {
  position: absolute;
  width: 14vw;
  z-index: -1;
  left: 15vw;
  top: 28vw; }

.headline .man-rocket {
  width: 26.5vw;
  left: 45vw; }

.headline .bg {
  width: 18vw;
  right: 30px;
  top: 5vw; }

.headline .cube-white {
  width: 12vw;
  left: 40vw;
  top: 22vw; }

.headline .flower-pot {
  width: 6vw;
  right: -2vw;
  top: 12vw; }

.headline .mouse {
  width: 13vw;
  right: -7vw;
  top: 25vw; }

.headline .ball {
  width: 9vw;
  left: 20vw;
  top: 4vw; }

.headline .circle-1 {
  background: rgba(250, 184, 196, 0.18);
  width: 22vw;
  height: 22vw;
  left: 5vw;
  top: 9.3vw; }

/* Awards */
#awards .sub-title {
  margin-bottom: 1vw;
  line-height: 2vw; }

#awards img {
  width: 100%; }

/* Light Bulb Moments */
#light-bulb {
  padding: 2vw 0; }
  #light-bulb .container {
    position: relative; }
  #light-bulb .flower {
    position: absolute;
    width: 20vw;
    left: -5vw;
    top: -2vw; }
  #light-bulb .lamp {
    position: absolute;
    width: 28vw;
    right: -12vw;
    top: -5vw; }
  #light-bulb .cloud {
    position: absolute;
    width: 12vw;
    left: 8vw;
    top: -23.75vw; }
  #light-bulb .bucket {
    width: 14vw; }
  #light-bulb .circle-1 {
    width: 25vw;
    height: 25vw;
    background: rgba(250, 184, 196, 0.18);
    right: -6vw;
    top: -24vw; }
  #light-bulb .text-header-medium {
    margin-bottom: 1vw; }
  #light-bulb .string {
    width: 11vw;
    transform: rotate(50.75deg);
    top: 5vw;
    right: 21.875vw; }

/* Make Business Plan */
#business_plan {
  padding: 1vw 0;
  position: relative; }
  #business_plan .shapes-container {
    z-index: 1 !important; }
  #business_plan .business-scene {
    width: 33vw;
    position: relative;
    margin: 0 auto !important;
    display: block; }
  #business_plan .cursor {
    position: absolute;
    width: 5vw;
    top: 1vw;
    left: 35vw; }
  #business_plan .business-card {
    position: absolute;
    width: 14vw;
    right: 16vw;
    top: 4.5vw; }
  #business_plan .hand-left {
    position: absolute;
    width: 12vw;
    top: 7vw;
    left: 18vw; }
  #business_plan .hand-right {
    position: absolute;
    width: 12vw;
    bottom: 0vw;
    right: 17vw; }
  #business_plan .circle-1 {
    background: rgba(250, 184, 196, 0.18);
    width: 20vw;
    height: 20vw;
    right: 10vw;
    top: 16vw;
    z-index: -1; }

/* FOR TESTING ONLY
.shapes-container img:nth-child(1){ border: 2px solid red; }
.shapes-container img:nth-child(2){ border: 2px solid blue; }
.shapes-container img:nth-child(3){ border: 2px solid green; }
.shapes-container img:nth-child(4){ border: 2px solid yellow; }
.shapes-container img:nth-child(5){ border: 2px solid violet; }
.shapes-container img:nth-child(6){ border: 2px solid black; }
.shapes-container img:nth-child(7){ border: 2px solid orange; }
*/
/* Business Legit */
#business_legit {
  padding: 2vw 0; }
  #business_legit .man-checker {
    width: 40vw;
    margin-left: 8vw; }
  #business_legit .cubes {
    width: 10vw;
    left: 0vw;
    top: 1vw; }
  #business_legit .ball-blue {
    width: 7vw;
    right: 5vw;
    top: 7vw; }
  #business_legit .files {
    width: 20vw;
    left: 5vw;
    bottom: 6vw; }
  #business_legit .message {
    width: 14vw;
    right: 5vw;
    bottom: 6vw; }
  #business_legit .listing {
    z-index: -1;
    height: 21vw;
    left: -3vw;
    top: 12vw; }
  #business_legit .circle-1 {
    width: 25vw;
    height: 25vw;
    background: rgba(250, 200, 184, 0.18);
    top: 6vw;
    left: 15vw; }

/* Adoption */
#adoption {
  padding: 2vw 0;
  position: relative; }
  #adoption .container {
    padding-bottom: 6vw; }
  #adoption .text-header-medium {
    margin-bottom: 1vw; }
  #adoption .sub-title {
    margin-bottom: 5vw; }
  #adoption .flat-monitor {
    width: 25vw;
    margin: auto 0; }
  #adoption .cylinder-red {
    width: 3vw;
    left: 21vw;
    top: -4vw; }
  #adoption .cylinder-green {
    width: 3vw;
    right: 20vw;
    top: -0.6vw; }
  #adoption .compas {
    width: 6vw;
    left: 21vw;
    bottom: 1.25vw; }
  #adoption .pie-chart {
    z-index: -1;
    width: 12vw;
    right: 19vw;
    bottom: 0vw;
    z-index: 1; }
  #adoption .circle-1 {
    background: rgba(214, 96, 255, 0.11);
    width: 18vw;
    height: 18vw;
    left: 22vw;
    top: 10vw; }
  #adoption .circle-2 {
    background: rgba(96, 150, 255, 0.11);
    width: 22vw;
    height: 22vw;
    right: 7vw;
    top: -9vw; }

/* Funding */
#funding {
  padding: 2vw 0;
  position: relative; }
  #funding .text-header-medium {
    margin-bottom: 1vw; }
  #funding .sub-title {
    margin-bottom: 5vw; }
  #funding .sim {
    width: 75%; }
  #funding .ball-yellow {
    width: 9.3vw;
    left: -7.5vw;
    top: 12.5vw; }
  #funding .files {
    width: 21.8vw;
    left: 0px;
    top: 14.3vw; }
  #funding .phone-circle-graph {
    width: 6.25vw;
    right: 14.3vw;
    top: 6.25vw; }
  #funding .cubes {
    width: 12.5vw;
    right: -3.1vw;
    top: -5vw; }
  #funding .dollar-coin {
    width: 12vw;
    left: 27vw;
    top: -3vw; }
  #funding .calculator {
    width: 15vw;
    left: 19vw;
    bottom: 8vw; }
  #funding .curve-line {
    z-index: -2;
    width: 150%;
    left: -15vw; }

/* User Experience */
#user_experience {
  padding: 2vw 0;
  position: relative; }
  #user_experience .text-header-medium {
    margin-bottom: 1vw; }
  #user_experience .sub-title {
    margin-bottom: 3.5vw; }
  #user_experience .user-experience {
    width: 45%;
    margin: auto 0; }
  #user_experience .marker {
    width: 14vw;
    left: 30vw;
    top: -3vw; }
  #user_experience .hand-right {
    width: 14vw;
    right: 16vw;
    top: 0vw; }
  #user_experience .cubes {
    width: 12vw;
    right: 10vw;
    top: 13vw; }

/* Good Code */
#good_code {
  padding: 2vw 0;
  position: relative; }
  #good_code .text-header-medium {
    margin-bottom: 1vw; }
  #good_code .sub-title {
    margin-bottom: 5vw; }
  #good_code .blue-scene {
    width: 45%;
    margin: auto 0; }
  #good_code .code {
    width: 13vw;
    left: 14vw;
    top: -7vw; }
  #good_code .color {
    width: 15vw;
    left: 9vw;
    bottom: 0vw; }
  #good_code .font {
    width: 12.5vw;
    right: 10vw;
    top: -4vw; }
  #good_code .mouse2 {
    width: 15vw;
    right: 8vw;
    bottom: -3vw; }
  #good_code .curve-line-2 {
    width: 20vw;
    top: -40vw;
    right: -1vw; }

/* Competitors */
#competitors {
  padding: 2vw 0;
  position: relative;
  z-index: -2; }
  #competitors .text-header-medium {
    margin-bottom: 1vw; }
  #competitors .marketing-scene {
    width: 35%;
    margin: auto 0; }
  #competitors .mega-phone {
    width: 12vw;
    left: 10vw;
    bottom: 0; }
  #competitors .cubes {
    width: 12vw;
    left: 28vw;
    bottom: -3vw; }
  #competitors .hand-right-pink {
    width: 15vw;
    right: 12vw;
    bottom: -2vw; }
  #competitors .ball-yellow {
    width: 10.6vw;
    right: -3.1vw;
    top: 16.8vw; }
  #competitors .lets-chat {
    margin-top: 6.25vw; }
  #competitors .curve-line-3 {
    z-index: -1 !important;
    width: 17vw;
    top: -7vw;
    right: 5vw; }
  #competitors .curve-line-4 {
    z-index: -2;
    width: 150%;
    left: -15vw;
    top: 5vw; }

/* Launching */
#launching {
  padding: 2vw 0;
  position: relative; }
  #launching .text-header-medium {
    margin-bottom: 2vw; }
  #launching .rocket {
    width: 14vw;
    margin: auto 0; }
  #launching .cloud {
    width: 11vw;
    left: 17vw;
    top: 5vw; }
  #launching .cloud2 {
    width: 11vw;
    left: 35.6vw;
    top: 0; }
  #launching .message {
    width: 26vw;
    left: -3vw;
    bottom: 3vw; }
  #launching .triangle {
    width: 10vw;
    right: 11vw;
    bottom: 14vw; }
  #launching .search {
    width: 22vw;
    right: 17vw;
    bottom: 0vw; }

/* What We Do */
#what_we_do {
  padding: 2vw 0;
  position: relative; }
  #what_we_do .sub-title {
    font-size: 1.4vw;
    line-height: 1.4; }
  #what_we_do .folder {
    width: 26vw;
    margin: auto 0; }
  #what_we_do .mask {
    width: 16vw;
    left: 18vw;
    top: 3vw;
    z-index: -1; }
  #what_we_do .keys {
    width: 7vw;
    left: 40.6vw;
    top: 8vw;
    z-index: -1; }
  #what_we_do .cup {
    width: 11vw;
    left: 45vw;
    bottom: 0vw; }
  #what_we_do .cubes {
    width: 12vw;
    right: 0vw;
    top: 5vw;
    transform: rotate(-125deg); }
  #what_we_do .curve-line-4 {
    z-index: -2;
    width: 150%;
    left: -15vw;
    top: -2vw; }

/* Our Secret */
#our_secret {
  padding: 2vw 0;
  position: relative; }
  #our_secret .text-header-medium {
    margin-bottom: 1vw; }
  #our_secret .man-center {
    width: 38vw;
    margin: auto 0; }
  #our_secret .bucket-shadow {
    width: 25vw;
    left: 3.1vw;
    top: 5vw;
    z-index: -1; }
  #our_secret .ball-yellow {
    width: 10vw;
    left: -6.25vw;
    top: 20vw;
    z-index: -1; }
  #our_secret .cube-single {
    width: 9vw;
    right: 9.3vw;
    top: 4vw; }
  #our_secret .code {
    width: 10vw;
    right: 14vw;
    bottom: 6vw;
    transform: rotate(70deg); }
  #our_secret .circle-1 {
    background: rgba(250, 184, 196, 0.4);
    width: 17vw;
    height: 17vw;
    left: 9vw;
    top: 8vw; }
  #our_secret .circle-2 {
    background: #6865FF;
    opacity: 0.4;
    width: 5vw;
    height: 5vw;
    left: 11vw;
    top: 21vw; }
  #our_secret .circle-3 {
    background: #6865FF;
    width: 10vw;
    height: 10vw;
    right: 5vw;
    top: 1vw; }
  #our_secret .curve-line {
    z-index: -2;
    width: 150%;
    left: -15vw;
    top: 1vw; }
  #our_secret .lets-chat .sub-title {
    margin-bottom: 2vw; }

/* Download */
#download {
  padding: 2vw 0; }
  #download h4 {
    font-family: var(--sub-font);
    font-size: 1.5vw;
    line-height: 2.2vw;
    color: #FFFFFF; }
  #download a {
    font-size: 15px;
    color: #26272A;
    background: #fff;
    font-weight: 600;
    padding: 15px 10px; }
  #download .shapes-container {
    z-index: 0; }
  #download h1, #download p {
    z-index: 1;
    position: relative; }
  #download .web-btn {
    box-shadow: 20px 21px 94px 40px rgba(36, 47, 122, 0.23);
    border-radius: 20px; }
  #download .circle-1 {
    width: 8vw;
    height: 8vw;
    left: 23.5vw;
    top: -1.5vw;
    background: #CFE15E;
    mix-blend-mode: normal;
    transform: matrix(1, 0, 0, -1, 0, 0); }
  #download .grid-blue-container {
    background: url("../img/homepage/bg-blue.png");
    background-repeat: no-repeat;
    border-radius: 31px;
    padding: 10px 15px;
    margin: 0px 30px; }
  #download .grid-blue {
    min-height: 23vw;
    width: 100%;
    background: url("../img/homepage/outer-blue.png");
    background-repeat: no-repeat;
    border-radius: 25px;
    position: relative;
    top: -30px;
    left: 30px;
    padding: 40px; }
  #download .grid-orange-container {
    background: url("../img/homepage/bg-orange.png");
    background-repeat: no-repeat;
    border-radius: 31px;
    padding: 10px 15px;
    margin: 0px 20px; }
  #download .grid-orange {
    min-height: 23vw;
    width: 100%;
    background: url("../img/homepage/outer-orange.png");
    background-repeat: no-repeat;
    border-radius: 25px;
    position: relative;
    top: -30px;
    left: 30px;
    padding: 40px; }
  #download .grid-green-container {
    background: url("../img/homepage/bg-green.png");
    background-repeat: no-repeat;
    border-radius: 31px;
    padding: 10px 15px;
    margin: 0px 20px; }
  #download .grid-green {
    min-height: 23vw;
    width: 100%;
    background: url("../img/homepage/outer-green.png");
    background-repeat: no-repeat;
    border-radius: 25px;
    position: relative;
    top: -30px;
    left: 30px;
    padding: 40px; }

/* RESPONSIVE */
@media (max-width: 768px) {
  /* Setting Spaces */
  .hero-content {
    margin-top: 0 !important; }
  .hero-text {
    margin-top: 4rem !important; }
  #awards {
    padding-top: 0rem !important; }
  #light-bulb .container-center {
    margin-top: 0rem !important; }
  #light-bulb .lamp {
    right: -15vw !important;
    top: -10vw !important; }
  #light-bulb .flower {
    left: 0vw !important;
    top: -5vw !important; }
  #business_plan {
    padding: 0 !important; }
  #business_legit {
    padding: 2rem 0 !important; }
  #funding {
    padding: 0 !important; }
    #funding .shapes-container {
      margin-top: 5rem !important; }
  #user_experience {
    padding: 3rem 0 !important; }
  #good_code {
    padding: 0 !important; }
  #launching {
    padding: 0 !important; }
  #download {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important; }
    #download .grid-blue {
      min-height: 350px !important; }
    #download .grid-orange {
      min-height: 350px !important; }
    #download .grid-green {
      min-height: 350px !important; }
  #what_we_do .sub-title, #our_secret .sub-title {
    font-size: 3vw;
    line-height: 4vw; } }

.spinner {
  width: 40px;
  height: 40px;
  background-color: #5575e8;
  position: absolute;
  top: 48%;
  left: 48%;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out; }

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px); }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg); }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999999; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
